<nav class="navbar nav-bar-expand-lg nav-bar-dark bg-dark">
    <a class="nav-brand" href="#">{{ title }}</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportContenet">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#" class="nav-item">Home <span class="sr-only">(Current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item">Directivas</a>
            </li>
            <li class="nav-item" >
              <a class="nav-item">Clientes</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-rigth">

        </ul>
    </div>

</nav>
